name: tests

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: tests

    strategy:
      matrix:
        include:
          - php: '8.1'
          - php: '8.2'
          - php: '8.3'
          - php: '8.4'

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: "${{ matrix.php }}"
          coverage: none
      - name: Install dependencies
        run: composer install
      - name: Run tests
        run: composer tools:run:phpunit
